# Files ignored for the project.
# You also can exclude a file locally - i.e. only on the current computer
# by editing the file $GIT_DIR/info/exclude

# Hidden files
.*

# Byte / compiled / optimized
*.py[cod]
__pycache__/
*.so
/doc/_generated

# Distribution / packaging
/build/
/dist/
*.egg-info/
.eggs/

# Unittest / coverage
*.py,cover
.coverage.*
htmlcov/
.cache/
.pytest_cache/

# Backup from text editor
*~
*.bck
*.swp
\#*\#

# Eclipse IDE
/.settings/
/.project
/.pydevproject

# VisualStudio IDE
/.vscode/
/.history/
